/* html-svgrepo-com 1 */

position: relative;
width: 116px;
height: 116px;



/* Group 5 */

position: absolute;
width: 226px;
height: 226px;



/* HTML-file */

position: absolute;
width: 90.62px;
height: 116px;



/* Vector */

position: absolute;
width: 21.29px;
height: 18.5px;

background: #CC3232;


/* Vector */

position: absolute;
width: 21.29px;
height: 18.5px;

background: #CC3232;


/* Vector */

position: absolute;
width: 14.78px;
height: 33.38px;

background: #CC3232;


/* Vector */

position: absolute;
width: 90.62px;
height: 116px;

background: #CC3232;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 226px;
height: 226px;

border: 5px solid #FFFFFF;
