*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image {
    background-image: url('./assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;    
}
.button-github {
    border: 1px solid #CC3232;
    background: none;
    color: #CC3232;
    width: 15%;
    border-radius: 10px;
}
.button-github:hover {
    background: #CC3232;
    color: white;
}